<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Create a Contact' : 'Edit a Contact'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Create a Contact:' : 'Edit a Contact:'"></h1>
<a th:href="@{/users}">Back to Contact List</a>
<br/><br/>


<form th:action="${add} ? @{/users/add} : @{/users/{userId}/edit(userId=${user.getId})}"
      th:object="${user}" method="POST">




    <table border="0">
        <tr th:if="${user.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>:</td>
            <td><input type="text" th:field="*{secondName}" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td><input type="text" th:field="*{age}" /></td>
        </tr>




    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>